<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Formulários</a>
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"> 
            <a class="nav-link" routerLink="/formularioTemplate">Formulário 1</a> 
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="nav-link" routerLink="/formularioReativo">Formulário 2</a> 
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>